%h1.page-header
  Home
  %small / Dashboard
.row
  .col-md-12
    %p Welcome to Sangrah Library Management System
%hr
.row
  .col-md-3
    .panel.panel-success
      .panel-heading
        .dashboard-metric.pull-right
          .text-right= Issue.open.count
        .dashboard-icon
          %i.fa.fa-tags
        %p Currently Issued
  .col-md-3
    .panel.panel-warning
      .panel-heading
        .dashboard-metric.pull-right
          .text-right= Reservation.open.count
        .dashboard-icon
          %i.fa.fa-lock
        %p Currently Reserved
  .col-md-3
    .panel.panel-info
      .panel-heading
        .dashboard-metric.pull-right
          .text-right= Copy.available.count
        .dashboard-icon
          %i.fa.fa-barcode
        %p Available for Issue
  .col-md-3
    .panel.panel-danger
      .panel-heading
        .dashboard-metric.pull-right
          .text-right= Issue.open.overdue.count
        .dashboard-icon
          %i.fa.fa-calendar-o
        %p Currently Overdue
%hr
