%h1.page-header
  Memberships
  %small / Index
.row
  .col-md-12
    .text-right
      = new_link Membership do
        %button.btn.btn-success{type: 'button'} New
    .spaceholder
    .table-responsive
      %table#datatable.table.table-striped{ data: { source: table_memberships_path(format: :json) }}
        %thead
          %tr
            %th #
            %th Code
            %th Name
            %th Type
            %th.action-cell
        %tbody
