body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #717171;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", sans-serif;
}
