/* html elements */
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #323c48;
  background-color: transparent;
  padding-top: 50px;
  margin-bottom: 50px;
  -webkit-font-smoothing: antialiased;
}

 h1,  h2,  h3,  h4,  h5,  h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", sans-serif;
}

/* layout elements */
.jumbotron {
  background-color: #323c48;
  color: #e2f5fc;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background-color: #f5f5f5;
}

/* navbar */
.navbar-header.full-width {
  width: 100%;
}
.navbar-inverse {
  background-color: #101a26;
  border-color: #080808;
}
.navbar-brand {
  font-size: 1.8em;
  color: #eeeeee !important;
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 40px;
  font-size: 1.1em;
  color: #e2f5fc;
}
.nav-sidebar > li > a:hover {
  background-color: #e2f5fc;
  color: #323c48;
}
.nav-sidebar > .active > a {
  color: #ffffff;
  background-color: #5cb85c;
}
.navbar-nav.navbar-right-top {
  display: block;
  float:right;
  padding-right: 25px;
}
@media (min-width: 768px) {
  .navbar-nav.navbar-right-top {
    display: block;
    float:right;
    margin-top: 8px;
    margin-right: -15px;
  }
}
.navbar-nav.navbar-right-top > li {
  float:right;
}
.navbar-nav.navbar-right-top > li > a {
  padding: 0;
  margin-right: 4px;
}

/* sidebar */
.sidebar .collapse .in {
  margin-top: 160px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #323c48;
    border-right: 1px solid #eeeeee;
  }
}
.sidebar-search {
  padding-left: 5px;
  padding-right: 15px;
}

/* main container */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/* dashboard */
.dashboard-icon {
  font-size: 48px;
}
.dashboard-metric {
  font-size: 48px;
}
.dashboard-chart {
  height: 275px;
}
.chart-label {
  font-size:16px;
  color:white;
}

/* spacers */
.spacer {
  margin: 2px;
}
.spaceholder {
  min-height: 33px;
}
.margin-10 {
  margin: 10px;
}

/* index */
.action-cell {
  width: 10%;
}
.pagination > li > a.disabled {
  background-color: #eeeeee;
}

/* show */
.display-label {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  padding-top: 8px;
}
.display-field {
  font-size: 16px;
}
.image-container {
  margin: 20px;
}

/* form */
.form-inputs, .form-actions {
  border-top: 1px solid #eeeeee;
  margin-top: 12px;
  padding-top: 12px;
}

/* search results */
h4 a:hover {
  text-decoration: none;
}

/* image */
img.max100 {
  max-width: 100px;
  max-height: 100px;
}
