.display-label {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  padding-top: 8px;
}
.display-field {
  font-size: 16px;
}
.spacer {
  margin: 2px;
}
.space-r-m {
  margin-right: 10px;
}
.spaceholder {
  min-height: 33px;
}
.action-cell {
  width: 10%;
}
.form-inputs, .form-actions {
  border-top: 1px solid #eeeeee;
  margin-top: 12px;
  padding-top: 12px;
}
.pagination > li > a.disabled {
  background-color: #eeeeee;
}
.image-container {
  margin: 20px;
}
.margin-10{
  margin: 10px;
}
