.input-dt-length {
  width: 80px !important;
  margin-right: 8px !important;
}
.input-dt-filter {
  margin-left: 8px !important;
}
div.DTTT { margin-bottom: 10px; float: right; }
div.dataTables_wrapper { clear: both; }
