.jumbotron
  .container
    %h1 Sangrah
    %p A simple library management system
.container
  %h2 New Items
  - @items.each_slice(4) do |row|
    %hr
    .row
      - row.each do |item|
        .col-md-3
          %h4= item.name
          .row
            .col-xs-4
              = image_tag item.photo.thumb.url, class: 'max100'
            .col-xs-8
              = item.excerpt
  %hr
