.container
  %h1 Items
  %hr
  - @items.each_slice(4) do |row|
    .row
      - row.each do |item|
        .col-md-3
          %h4= item.name
          .row
            .col-xs-4
              = image_tag item.photo.thumb.url, class: 'max100'
            .col-xs-8
              = item.excerpt
    %hr
.container
  .row
    .col-md-12.text-right
      = paginate @items
