.container
  %h1 Items
  %hr
  - @items.each_slice(4) do |row|
    .row
      - row.each do |item|
        .col-md-3
          %h3= item.name
          %p= item.excerpt
    %hr
.container
  .row
    .col-md-12.text-right
      = paginate @items
