%h1.page-header
  Reservations
  %small / Index
.row
  .col-md-12
    .text-right
      = new_link Reservation do
        %button.btn.btn-success{type: 'button'} New
    .spaceholder
    .table-responsive
      %table#datatable.table.table-striped{ data: { source: table_reservations_path(format: :json) }}
        %thead
          %tr
            %th #
            %th Book
            %th Member
            %th Reserved On
            %th Status
            %th.action-cell
        %tbody
