%h1.page-header
  Receipts
  %small / Index
.row
  .col-md-12
    .text-right
      = new_link Receipt do
        %button.btn.btn-success{type: 'button'} New
    .spaceholder
    .table-responsive
      %table#datatable.table.table-striped{ data: { source: table_receipts_path(format: :json) }}
        %thead
          %tr
            %th #
            %th Date
            %th Member
            %th Kind
            %th Mode
            %th Amount
            %th Status
            %th.action-cell
        %tbody
