%ul.nav.nav-sidebar
  %li{class: active?([:home])}
    %a{href: application_root_path} Overview
  %li{class: active?([:reports])}
    %a{href: reports_path} Reports
  %li{class: active?([:issues])}
    %a{href: issues_path} Issue
  %li{class: active?([:reservations])}
    %a{href: reservations_path} Reservation
%ul.nav.nav-sidebar
  %li{class: active?([:creators])}
    %a{href: creators_path} Creators
  %li{class: active?([:categories])}
    %a{href: categories_path} Categories
  %li{class: active?([:items])}
    %a{href: items_path} Items
  %li{class: active?([:copies])}
    %a{href: copies_path} Copies
%ul.nav.nav-sidebar
  %li{class: active?([:memberships])}
    %a{href: memberships_path} Memberships
  %li{class: active?([:members])}
    %a{href: members_path} Members
%ul.nav.nav-sidebar
  %li{class: active?([:users])}
    %a{href: users_path} Users
  %li{class: active?([:settings])}
    %a{href: ""} Settings
